<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ts</key>
	<integer>1</integer>
	<key>apikey</key>
	<string>e1ee3819a2e6aeca6c6fc233d3aefa4e</string>
	<key>hash</key>
	<string>248eab89f5d54f681a3f85481099fe80</string>
</dict>
</plist>
